$fondo-site : rebeccapurple;
$color-text : white;
$border-color: yellow;
$fondo-item: red;

@mixin bordealo($wdh){
	border: {
		width: $wdh;
    style: solid;
    color: $border-color;
	}
}
body{
	background: $fondo-site;
	color: $color-text;
}

.container{
	@include bordealo(5px);
	background: blue;
	height: 600px;
	width: 500px;
	display:flex;
	flex-direction:row;
	flex-wrap:no-wrap;
	justify-content:flex-start;
	//align-items: flex-end;



	.item{
		@include bordealo(3px);
		background:$fondo-item;
		
	}
	.item1{
		background: gray;
		flex: 1 1 0px;
	
	}
	.item2{
		flex: 1 1 0px;
	}

	.item3{
		background: green;
		//align-self: flex-start;
		flex: 1 1 0px;
	}
}