doctype html
html(lang='en')
  head
    title Jade
    link(rel="stylesheet", href="css/app.css")
  body
    div.contenedor
      .elemento.elemento1 1
      .elemento.elemento2 2
      .elemento.elemento3 3
      .elemento.elemento4 4
      