doctype html
html(lang='en')
  head
    title FlexBox
    link(rel="stylesheet", href="css/app.css")
  body

    h1 FlexTime
    section.container
      div.item.item1 val 1
      div.item.item2 val 2
      div.item.item3 val 3 mas 

