doctype html
html(lang='en')
  head
    title Jade
    link(rel="stylesheet", href="css/app.css")
  body
    h1 Jade - node template engine test
    <h2> probando</h2>
    #container.col
      p You are amazing
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.